.boton-registrarme {
    background-color: rgb(135, 189, 255);
    border-color: rgb(255, 255, 255);
    color: #151515;;
    border-width: 2pt;

}

.texto-back {
    color: rgb(135, 189, 255);
}

.forminputs {
    border-color: rgb(135, 189, 255);
    border-width: 2pt;
}
.boton-registrarme :hover{
    background-color: rgb(235, 231, 150);
}