.boton-registrarme {
    background-color: #4b31a8;
    border-color: #4b31a8;
    color: #ffffff;
    margin-top: 2rem;
    border-width: 1pt;

}

.texto-back {
    color: #4b31a8;
}

.forminputs {
    border-color: #4b31a8;
    border-width: 2pt;
}

.boton-registrarme:hover {
    background-color: #ffffff ;
    color: #4b31a8 ;
    border-color: #4b31a8 ;
}

.imgform {
    width: 10rem;
}